{% extends "login.html" %}
{% block header %} Password Reset {% endblock %}
{% block content %}
    <form method="post" class="form">
        {% csrf_token %}
        <div class="d-flex align-items-center mt-5">
            <h5>Enter your Email to get Reset Link: </h5>
        </div>
        <div class="form-field d-flex align-items-center mt-2">

            {{ form.email }}
        </div>
        {% if form.email.errors %}
            <div class="d-flex align-items-center">
                <div class="alert alert-danger small">
                    <strong>{{ form.email.errors|escape }}</strong>
                </div>
            </div>
        {% endif %}

        <button type="submit" class="btn mt-3">Forgot Password</button>
    </form>
    <div class="text-center fs-6 mt-4"><a href="{% url 'login-view' %}">Sign in?</a> or <a href="{% url 'registration' %}">Sign up</a></div>


{% endblock %}