{% extends "login.html" %}
{% block header %} Create New Password {% endblock %}
{% block content %}
    <form method="post" action="{% url 'reset-user-password' uid64=uid64 token=token %}" class="form">
        {% csrf_token %}
        <div class="d-flex align-items-center mt-5">
        </div>
        <div class="form-field d-flex align-items-center mt-2">
            <input type="password" id="password1" name="password1" placeholder="Password" required>
        </div>
        <div class="form-field d-flex align-items-center mt-2">
            <input type="password" id="password2" name="password2" placeholder="Confirm Password" required="required">
        </div>

        <button type="submit" class="btn mt-3">Rest Password</button>
    </form>
    <div class="text-center fs-6 mt-4"><a href="{% url 'login-view' %}">Sign in?</a> or <a
            href="{% url 'registration' %}">Sign up</a></div>
{% endblock %}